button {
    margin: 20px auto;
    padding: 20px 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
    color: black;
}

button:hover {
    background-color: black;
    color: white;
}

li {
    font-size: 20px;
}

.big {
    font-size: 30px;
}